# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
